:root {
  --bg-color-one: black;
  --bg-color-opposite: white;
  --bg-color-two: #333333;
  --bg-color-three: #222222;
  --bg-color-four: #111111;
  --accent-color-one: #285577;
  --accent-color-two: #253c4d;
  --text-color-one: white;
  --text-color-opposite: black;
}

::selection {
    background: var(--bg-color-opposite);
    color: var(--text-color-opposite);
    text-shadow: none;
}

::-moz-selection {
    background: var(--bg-color-opposite);
    color: var(--text-color-opposite);
    text-shadow: none;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  background-color: var(--bg-color-one);
  grid-template-rows: auto 1fr auto;
  color: var(--text-color-one);
  overflow: hidden;
}

.header,
.footer {
  background-color: var(--bg-color-three); 
  border: 1px solid var(--bg-color-two);
  padding: 1em;
  width:100%;
  box-sizing: border-box;
}
.header a{
  float:right;
  text-decoration:none;
  color:white;
}

.header a:hover{
  color:var(--accent-color-one);
}

.main {
  display: flex;
  width:100%;
  height:100%;
  justify-content: center;
  align-items: center;
}
