/* When the #main anchor is active (like in your iframe), hide header and footer */
body:has(#main:target) .header,
body:has(#main:target) .footer {
  display: none;
}

/* Make the body background match the box color */
body:has(#main:target) {
  background-color: var(--bg-color-four); 
}


.container {
  background-color: var(--bg-color-four);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

.carousel {
  position: relative;
  width: 300px;
  height: 200px;
  transform-style: preserve-3d;
  animation: rotate360 12s infinite forwards linear;
}

.carousel-face {
  position: absolute;
  width: 300px;
  height: 200px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
  transform-style: preserve-3d; 
}

.carousel-face img{
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@keyframes rotate360 {
  from { transform: rotateY(  0deg); }
  to   { transform: rotateY(-360deg); }
}
